# Node.js
node_modules/
**/node_modules/

# Environment
.env
.env.*

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Visual Studio
.vs/
bin/
obj/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db